<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SoundRead</a>
      <i class="fa-solid fa-music fa-2x" style="color: white;"></i>
    </div>
    <div class= "navbar-text">
      <h6>Your trusty music transcription service</h6>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="text-center h5" style="padding-top: 2rem; padding-bottom: 2rem;">
      <div *ngIf="!file">
        To get started, <br>please upload your recordings to see transcribed lyrics!
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center ">
    <div class="col-4 ">
      <app-card-component [buttonDesc]="'Upload mp3'" (receivedFileEvent)="changeUploadedFile($event)">
        <i class="fa-solid fa-file-audio fa-5x"></i>
      </app-card-component>
    
      <div class="row">
        <div class="text-center h5" style="padding-top: 2rem; padding-bottom: 2rem;">
            <app-simple-button id="sendBtn" 
            [displayText]="resultFile?'Try Again!':'Transcribe!'" 
            buttonClass="btn btn-primary btn-xl"
            [isEnabled]="file?true:false"
            (click)="sendFilesForTranscribing()">
            </app-simple-button>
        </div>
      </div>
    </div>
  
    <!--
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  -->
    <div *ngIf="sent" class="col-8 justify-content-md-center"> 
      <div *ngIf="!resultFile; else loadingResults">
        <app-result-table [file] = "resultFile">
        </app-result-table>
      </div>
      <ng-template #loadingResults>
        <app-card-component>
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </app-card-component>
      </ng-template>
      

    </div>


  </div>



  



</div>

<router-outlet></router-outlet>