<input type="file" class="file-input"
(change)="onFileSelected($event)" #fileUpload>

<div class="justify-content-md-center">
    <div class= "col">
      <div class="card">
        <div class= "card-title text-center">
          {{header}}
        </div>
        <div class = "card-image text-center">
          <ng-content></ng-content>
        </div>
        <div class="card-body text-center">
          {{fileName}}
        </div>

        <div>
          <div *ngIf="buttonDesc" class="text-center">
            <app-simple-button id="uploadButton"
            buttonClass="btn btn-primary btn-lg"
              [displayText]="buttonDesc" (click)="fileUpload.click()">
            </app-simple-button>
          </div>
        </div>
      </div>
    </div>
  </div>
